<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sust.appinfo.mapper.datadictionary.DataDictionaryMapper">

	<select id="getDataDictionaryList" resultType="DataDictionary">
		select * from  data_dictionary
		<trim prefix="where" prefixOverrides="and | or">
			<if test="typeCode != null">
				and typeCode = #{typeCode}
			</if>
		</trim>
		<!-- order by creationDate DESC  -->
	</select>

	<select id="getDataDictionaryLists" resultType="DataDictionary">
		select * from data_dictionary
		<trim prefix="where" prefixOverrides="and | or">
			<if test="queryValueName != null and queryValueName != ''">
				and valueName like CONCAT ('%',#{queryValueName},'%')
			</if>
			<if test="queryType != null and queryType != ''">
				and typeName = #{queryType}
			</if>
		</trim>
		 limit #{currentPageNo},#{pageSize}
	</select>

	<select id="getDataDicCount" resultType="int">
		select count(1) from data_dictionary
		<trim prefix="where" prefixOverrides="and | or">
			<if test="queryValueName != null and queryValueName != ''">
				and valueName like CONCAT ('%',#{queryValueName},'%')
			</if>
			<if test="queryType != null and queryType != ''">
				and typeName = #{queryType}
			</if>
		</trim>
	</select>

	<select id="getAllTypeName" resultType="string">
		SELECT typeName FROM data_dictionary GROUP BY typeName
	</select>

	<select id="selectMaxValueIdByTypeName" parameterType="string" resultType="int">
		SELECT MAX(valueId)  FROM data_dictionary WHERE typeName = #{typeName}
	</select>

	<insert id="addDataDic">
		INSERT INTO data_dictionary(typeCode,typeName,valueId,valueName,createdBy,creationDate)
		VALUES(#{typeCode},#{typeName},#{valueId},#{valueName},1,now())
	</insert>

	<delete id="deleteDataDicById" parameterType="int">
		delete from data_dictionary where id  = #{id}
	</delete>

	<update id="doUpdate">
		update data_dictionary set
		valueName = #{valueName}, typeName = #{typeName},typeCode = #{typeCode},
		modifyBy = 1,modifyDate = now(),valueId = #{valueId}
		where id = #{id}
	</update>
</mapper>