<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sust.appinfo.mapper.devuser.DevUserMapper">
	<select id="getLoginUser" resultType="DevUser">
		select u.* from dev_user u
		<trim prefix="where" prefixOverrides="and | or">
			<if test="devCode != null">
				and u.devCode = #{devCode}
			</if>
		</trim>
	</select>

	<select id="checkDevCode" parameterType="string" resultType="int">
		select count(1) from dev_user where devCode = #{devCode}
	</select>

	<insert id="addDevUser" parameterType="DevUser">
		insert into dev_user(devCode,devName,devPassword,devEmail,devInfo,creationDate) values(#{devCode},#{devName},#{devPassword},#{devEmail},#{devInfo},now())
	</insert>

	<select id="checkPassword" resultType="int">
		select count(1) from dev_user where id = #{id} and devPassword = #{password}
	</select>

	<update id="updatePassword">
		update dev_user set devPassword = #{newDevPassword} where id = #{id}
	</update>

	<update id="doUpdateDevUser">
		update dev_user set devCode = #{devCode},devName = #{devName}, devEmail = #{devEmail},modifyBy=1, modifyDate=now() where id = #{id}
	</update>

	<select id="selectById" parameterType="int" resultType="DevUser">
		select * from dev_user where id =#{id}
	</select>
</mapper>