<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sust.appinfo.mapper.backenduser.BackendUserMapper">
	<select id="getLoginUser" resultType="BackendUser">
		select u.*,d.valueName as userTypeName from backend_user u, data_dictionary d 
			where u.userType = d.valueId and d.typeCode = 'USER_TYPE'
			<if test="userCode != null">
				and u.userCode = #{userCode}
			</if>
	</select>

	<select id="checkUserCode" parameterType="string" resultType="int">
		select count(1) from backend_user where userCode = #{userCode}
	</select>

	<insert id="addBackendUser" parameterType="BackendUser">
		insert into backend_user(userCode,userName,userPassword,creationDate,userType,createdBy) values(#{userCode},#{userName},#{userPassword},now(),1,1)
	</insert>

	<select id="checkPassword" resultType="int">
		select count(1) from backend_user where id = #{id} and userPassword = #{password}
	</select>

	<update id="updatePassword">
		update backend_user set userPassword = #{newUserPassword} where id = #{id}
	</update>

	<update id="doUpdateUser">
		update backend_user set userCode = #{userCode},userName = #{userName},modifyBy=1, modifyDate=now() where id = #{id}
	</update>

	<select id="selectById" parameterType="int" resultType="BackendUser">
		select * from backend_user where id =#{id}
	</select>

	<update id="updateStatus" parameterType="int">
		update backend_user set status = #{status} where id = #{id}
	</update>
</mapper>